language: node_js
sudo: true
node_js: 8
cache:
  directories:
    - node_modules
script:
  - npm run lint
  - npm test
deploy:
- provider: script
  skip_cleanup: true
  script: npx semantic-release
  on:
    node: 8
