language: node_js
node_js: "10"
cache:
  directories:
    - node_modules
script:
  - npm run lint
  - npm test
deploy:
- provider: script
  skip_cleanup: true
  script: npx semantic-release
  on:
    node: 10
